.info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 35px;
  grid-column-gap: 3rem;
}
.info {
  border-radius: 16px;
  padding: 15px;
  height: 300px;
  color: darkgray;
  background: rgba(255, 255, 255, 0.027);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
}
.info-head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.info-head img {
  width: 70%;
  margin-left: 80px;
  margin-top: -50px;
}
.title {
  font-size: 22px;
  font-weight: 600;
}
.desc {
  font-size: 16px;
  font-weight: 400px;
}
