.nav-bar {
  height: 100vh;
  width: 250px;
  background-color: #151520;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  z-index: 11;
}
.no-scroll {
  overflow: hidden;
}
.logo {
  width: 80%;
  padding: 10px;
  display: block;
  margin: auto;
}
.nav-items {
  display: block;
  margin-left: 30px;
  margin-bottom: 0px;
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 35%;
  color: grey;
}
.nav-items :hover {
  color: #00ffe8;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.active {
  color: #00ffe8;
  background-color: transparent;
}
.mobile-menu {
  display: none;
}
.overlay {
  display: none;
}
.nav-bar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.nav-bar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.nav-bar::-webkit-scrollbar-thumb {
  background: #00ffe8;
}
@media (max-width: 768px) {
  .nav-bar {
    position: fixed;
    height: 100vh;
  }
  .nav-items {
    top: 40%;
  }
  .mobile-menu {
    display: block;
    color: #00ffe8;
  }
  .overlay {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background: #0000005e;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}
