.nav-bar {
  height: 100vh;
  background-color: #151520;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  position: sticky;
  top: 0;
}
.logo {
  width: 80%;
  padding: 10px;
  display: block;
  margin: auto;
}
.nav-items {
  display: block;
  margin-left: 30px;
  margin-bottom: 0px;
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 40%;
}
.nav-items {
  color: grey;
}
.nav-items :hover {
  color: #00ffe8;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.active-nav {
  padding-left: 12px;
  border-left: 3px solid #00ffe8;
  color: #00ffe8;
}
