.product-img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}
.product-card {
  border: 2px solid #00ffea;
  border-radius: 10px;
  padding: 5px;
  background-color: #242435;
}
.product-card-details {
  margin-left: 8px;
  margin-bottom: 40px;
}
.product-name {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 10px;
}
.product-price {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
}
.product-btn {
  border: none;
  font-size: 14px;
  padding: 0;
  color: #00ffea;
}
.product-btn :hover {
  background-color: white;
  color: #00ffea;
  border: none;
}
.spinner-section {
  display: flex;
}
@media (max-width: 425px) {
  .product-card {
    height: 450px;
  }
  .product-card-details {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
