:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #171622;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* globel section heading style */
.section-heading {
  margin-left: 30px;
  margin-bottom: 10px;
  font: 700 32px;
}

a {
  font: 500 grey;
  text-decoration: inherit;
}

a:hover {
  color: #00ffe8;
}

body {
  margin: 0;
  padding: 0;
}

.products {
  display: grid;
  gap: 20px;
  padding: 30px;
  grid-template-columns: repeat(4, 3fr);
}

@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, 4fr);
  }
}

button {
  border: 1px solid #00ffe8;
  border-radius: 8px;
  color: #00ffe8;
  background-color: transparent;
  padding: 0.5em 1em;
  margin-right: 2em;
  font: 500 1em inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (max-width: 425px) {
  .section-heading {
    font-size: 24px;
  }

  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 375px) {
  .section-heading {
    font-size: 22px;
  }
}
